* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  background-color: #e0e5e0;
  min-height: 100vh;
  padding: 20px 40px;
}

/* =================Header top=================== */

.container {
  width: 100%;
  /* max-width: 1600px; */
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  /* background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
  background-color: hsla(264, 53%, 57%, 0.905);
  color: #fff;
}

.header-left {
  font-size: 2.5rem;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info span {
  font-size: 1.6rem;
  font-weight: 500;
}

.drop-menu {
  position: relative;
}

.drop-toggle {
  display: flex;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
}

.drop-toggle img {
  width: 24px;
  height: 24px;
  filter: invert(100%) brightness(200%);
}

.drop-toggle:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.drop__content {
  display: none;
  position: absolute;
  top: 140%;
  right: 0;

  background-color: #fff;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  min-width: 220px;
  padding: 8px;
  z-index: 100;

  gap: 12px;

  min-width: 220px;

  width: 280px;
}

.drop-menu.active .drop__content {
  display: flex;
  flex-direction: column;
}

.drop__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13px 0;
}

.drop__avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px 0;
  object-fit: cover;
}

.drop__username {
  font-size: 1.4rem;
  font-weight: 500;
  color: #333;
}

.drop__email {
  font: 0.4rem;
  color: #777;
  padding: 7px 0;
}

.drop__info::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #eee;
  margin: 10px 0;
}

.drop__content a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  border-radius: 6px;
  text-decoration: none;
  color: #333;
  font-size: 1rem;
}
.drop__content a:hover {
  background-color: #f1f3f4;
}

.drop__content a img {
  width: 20px;
  height: 20px;
  opacity: 0.7;
}

/* ========================Thống kê=================== */
.main {
  padding: 30px;
  background-color: #f7f8fa;
}

.section-summary {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.section__card {
  flex: 1;
  background-color: #fff;
  border: 1px solid #eee;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.section__card > span {
  display: block;
  font-size: 1.5rem;
  color: #3f3f46;
  margin-bottom: 8px;
}

.section__card strong {
  font-size: 2rem;
  font-weight: 700;
  color: #4a55a2;
}

/* ================nút thêm bàn============== */
.add-table {
  margin-bottom: 20px;
}

.plus {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #a6a9b6;
  background-color: #eef2ff;
  border-radius: 12px;
  padding: 5px;
  cursor: pointer;
}

.plus:hover {
  background: linear-gradient(90deg, #eef2ff, #c1cefb);
  transform: scale(1.01);
}

.plus img {
  width: 32px;
  height: 32px;
  background-color: #eef2ff;
  border-radius: 50%;
  padding: 5px;
}

.plus span {
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
}

/* ============table body============== */
.table__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.table {
  display: flex;
  flex-direction: column;
  min-height: 220px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.03);
  border-left: 5px solid #68d391;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.table:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.table__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 13px 0;
  border-bottom: 1px solid #eee;
}

.table__menu {
  position: relative;
}

.table__toggle {
  display: flex;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  background: transparent;
}

.table__toggle:hover {
  background-color: #f1f3f4;
}

.table__toggle img {
  width: 20px;
  height: 20px;
  /* opacity: 0.5; */
}

.table__drop {
  display: none;
  position: absolute;
  top: 100%;
  right: 100%;

  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  min-width: 150px;
  padding: 8px;
  z-index: 10;
  border: 1px solid #e3e3e3;
}

.table__delete {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 1.1rem;
  color: #e53e3e;
  font-weight: 400;
}

.table__delete img {
  width: 16px;
  height: 16px;
}

.table__delete:hover {
  background-color: #fef2f2;
}

.table__edit {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 1.1rem;
  color: #555;
  font-weight: 400;
}

.table__edit img {
  width: 16px;
  height: 16px;
}

.table__edit:hover {
  background-color: #f1f3f4;
}

.table__body {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 1.3rem;
  color: #555;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.table__status {
  font-weight: 500;
  color: #4ea376;
}

.table__start {
  margin-top: auto;
  color: #fff;
  background-color: #68d391;
  font-size: 1.4rem;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  padding: 11px 0;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.table__start:hover {
  background-color: #48bb78;
}

.table__start:active {
  transform: scale(0.95);
}

.table__title {
  font-size: 1.6rem;
  font-weight: 700;
}

.table__menu.active .table__drop {
  display: block;
}

.table__menu.active .table__toggle {
  border: 1px solid #333;
}

/* ======================đổi trạng thái============= */
.table.table__playing {
  border-color: #ff6b6b;
  background-color: #fff5f5;
}

.table.table__playing .table__start {
  background-color: #ff6b6b;
}

.table.table__playing .table__status {
  color: #ff6b6b;
}

.table.table__playing .table__start:hover {
  background-color: #ff6b6b;
}

.table.table__playing .table__start {
  color: #fff;
}

/* =====================thêm bàn mới===================== */
.table-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);

  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.table-modal.active {
  display: flex;
}

.modal__content {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px;
}

.modal__content h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.modal__content label {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
  margin-top: 5px;
  padding-top: 5px;
}

.modal__content input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1.5rem;
  margin-top: 5px;
  padding-top: 5px;
}

.modal__action {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.modal__action button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2 ease;
}
.btn-cancel {
  background-color: #eee;
  color: #333;
  border: 1px solid #ddd;
}

.btn-cancel:hover {
  background-color: #e9ecef;
}

.btn-submit {
  background-color: #4a55a2;
  color: #fff;
  border: 1px solid #4a55a2;
}

.btn-submit:hover {
  background-color: #5a67b6;
}
/* =================Xóa bàn=========== */
.btn-submit {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2 ease;
  background-color: #e53e3e;
  color: #fff;
  border: 1px solid #e53e3e;
}

.btn-submit:hover {
  background-color: #c53030;
}

.btn-cancel {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2 ease;
  background-color: #eee;
  color: #333;
  border: 1px solid #ddd;
}

.confirm__action {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  gap: 10px;
  margin-top: 10px;
}
