* {
  box-sizing: border-box;
}
:root {
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

/* =======================Header========================= */
.header {
  min-height: 100vh;
  background-image: url(../img/background.png);
  background-size: cover;
  background-position: center;
}
.header-top {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  justify-content: space-between;
}
.logo {
  height: 10vw;
  width: auto;
  max-height: 300px;
  min-height: 150px;
  border-radius: 8px;
  list-style-type: none;
}

.header__action {
  display: flex;
  align-items: center;
  margin-left: 20px;
  gap: 15px;
  transform: translateY(-50px);
}
/* ===================================navbar===================== */
/* .navbar {
  margin-left: auto;
  transform: translateX(-159px);
} */

.navbar__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar__link {
  font-size: 5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #000000;
  text-decoration: none;

  background-color: #bfd09d;
  border: 1px solid #060606;
  border-radius: 999px;
  padding: 8px 30px;

  transition: all 0.3s ease;
}
.action-link {
  font-family: "Roboto", sans-serif;
  line-height: 1.75;
  text-decoration: none;
  color: #e9e7e7;
  min-width: 150px;

  font-size: 3rem;
  font-weight: 500;

  padding: 8px 30px;
  border-radius: 999px;
  border: 1px solid #ccc;
  text-align: center;
  min-width: 200px;

  transition: all 0.3s ease;
}

.navbar__link:hover {
  color: #ffffff;
}

.header__action--login {
  background-color: #fff;
  color: #333;
  border-color: #ccc;
}

.header__action--login:hover {
  background-color: #ededed;
  color: #00ab86;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 171, 134, 0.3);
}

.header__action--signup {
  background-color: #00ab86;
  color: #333;
  border-color: #00ab86;
}

.header__action--signup:hover {
  background-color: #008060;
  border-color: #008060;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 171, 134, 0.3);
}
/* =====================Welcome============ */
.wel {
  text-align: center;
  margin-top: 100px;
}
.wel__content {
  font-family: "MuseoModerno", sans-serif;
  color: #fdfd33;
  font-size: 9vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
